<h1>Countries States and Cities</h1>

<% @countries.each do |country| %>
	<h1><%= country.name %></h1>

	<% country.states.each do |state| %>
		<fieldset>
		<h3><%= state.name %></h5>
		
		<% state.cities.sort {|a,b| a.name <=> b.name }.each do |city| %>
			<p><%= city.name %></p>
		<% end %>
	</fieldset>
	<% end %>
<% end %>